body {
    background-color: #f2f2f2;
    color: #525352;
    font-family: "Robotoo";
    margin: 0;
    padding: 0;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6{
    color: $colorprimary;
    font-weight: 300;
}